body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1 {
    font-size: 50px;
}
.orange-color {
    color: orange;
}
.flex-banner {
    display: flex;
    padding: 10px;
}
.half-width {
    width: 80%;
    padding-left: 5px;
}
.half-width img {
    width: 80%;
}
.button {
    text-decoration: none;
    background-image: linear-gradient(gold, red);
    color: white;
    font-weight: 700;
    padding: 10px 30px;
}
.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-banner {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.box-item {
    width: 45%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    box-shadow: 10px 10px 40px grey;
}
#border {
    border-left: 10px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 4;
}
#border2 {
    border-left: 10px solid;
    border-image: linear-gradient(red, orange);
    border-image-slice: 8;
}
hr {
    border: 3px solid tomato;
}
footer p {
    text-align: center;
}